:root {
  --bg: rgb(214, 212, 212);
  --color-white: #fff;
  --color-para: rgb(131, 130, 130);
  --link-active: #cea525;
}

body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

p {
  font-size: 15px;
  color: var(--color-para);
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Début du boutton de retour en haut de la page */
#backToTheTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 3px;
  z-index: 1000;
}

.arrow-up {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid var(--link-active);
  border-radius: 4px;
  cursor: pointer;
}
.arrow-up::after {
  content: "";
  left: 50%;
  top: 50%;
  display: block;
  position: absolute;
  top: 4px;
}
.arrow-up::after {
  width: 15px;
  height: 15px;
  border-top: 2px solid var(--link-active);
  border-left: 2px solid var(--link-active);
  transform: rotate(45deg);
  left: calc(50% - 7px);
  top: calc(50% - 5px);
}
/* .arrow-up::before {
  width: .2rem;
  height: 1rem;
  left: 8px;
  background: var(--link-active)
} */

/* Fin du boutton de retour en haut de la page */

/* .active {
  color: var(--link-active);
} */

/* début de la sidebar */
#wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#sidebar {
  position: fixed;
  min-width: 260px;
  height: 100%;
  left: 0;
  background-color: #000;
  z-index: 1;
  /* margin-left: -260px; */
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 30px 0;
  height: 200px;
  border-bottom: #fff;
}

.sidebar__logo h1 {
  font-size: 50px;
}

.sidebar__container li {
  line-height: 40px;
  text-transform: uppercase;
  border-color: #8b8b8c;
  border-bottom: 1px solid #2f2f35;
  padding: 13px 20px;
}

.sidebar__container li.active a {
  color: var(--link-active);
}

.sidebar__container li a {
  color: #fff;
  font-size: 12px;
  display: block;
  text-decoration: none;
  line-height: normal;
}

.menu-hamburger {
  display: none;
}

.blog-posts-content {
  padding: 60px 50px;
}

header {
  position: relative;
  /* display: flex; */
  width: 100%;
  height: 100vh;
  margin-left: 260px;
}

.header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  color: #fff;
  font-size: 60px;
  width: 100%;
  height: 100%;
}

.header-img nav {
  width: 10%;
}

.container-fluid {
  background: url(../images/Groupe1.svg);
}

.margin-container {
  margin-left: 260px;
}

.post {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}

.post-img {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: #fff;
  background-color: var(--bg);
  height: 400px;
  width: 100%;
}

.post-main {
  /* height: 100px; */
  width: 95%;
  padding: 10px;
  margin: 5px auto;
  border-bottom: 1px solid var(--bg);
}

.post-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}

.post-content h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.post-content h2 a {
  color: #000;
  font-weight: 400;
  text-decoration: none;
  transition: .3s;
}

.post-content h2 a:hover {
  color: var(--link-active);
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 95%;
  padding: 10px;
  margin: 5px auto;
}

.post-link {
  display: inline-block;
  color: var(--color-para);
  cursor: pointer;
}

.post-link a:hover:nth-child(1) {
  color: var(--link-active);
}

/* Identification page */

.identification {
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .margin-container {
    margin-left: unset !important;
  }

  header {
    margin-left: 0;
  }

  #sidebar {
    display: none;
  }

  nav {
    min-width: 260px;
  }

  .menu-hamburger {
    position: absolute;
    display: block;
    z-index: 100;
    width: 50px;
  }

  #menu-hamburger_nav {
    display: none;
  }
}

/* PAGE BLOG */

.header-img-blog {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  color: #fff;
  font-size: 60px;
  width: 100%;
  height: 40vh;
}

/* DEBUT DE LA NAVIGATION */

/* .menu-hamburger {
  display: block;
  transform: scale(var(--ggs,1))
}
.menu-hamburger,
.menu-hamburger::after,
.menu-hamburger::before {
  position: relative;
  display: block;
  width: 2rem;
  height: 2px;
  border-radius: 3px;
  background: currentColor
}
.menu-hamburger::after,
.menu-hamburger::before {
  content: "";
  position: absolute;
  top: -6px
}
.menu-hamburger::after {
  top: 6px
} */
/* End */
