:root {
  --bg: rgb(214, 212, 212);
  --color-white: #fff;
  --color-para: rgb(131, 130, 130);
  --link-active: #cea525;
  --color-black: #000;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

p {
  font-size: 1.5rem;
  color: var(--color-para);
}

a {
  font-size: 1.1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Début du boutton de retour en haut de la page */
#backToTheTop {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border-radius: 3px;
  z-index: 1000;
}

.arrow-up {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid var(--link-active);
  border-radius: 4px;
  cursor: pointer;
}
.arrow-up::after {
  content: "";
  left: 50%;
  top: 50%;
  display: block;
  position: absolute;
  top: 4px;
}
.arrow-up::after {
  width: 1.5rem;
  height: 1.5rem;
  border-top: 2px solid var(--link-active);
  border-left: 2px solid var(--link-active);
  transform: rotate(45deg);
  left: calc(50% - 0.7rem);
  top: calc(50% - 0.5rem);
}
/* .arrow-up::before {
  width: .2rem;
  height: 1rem;
  left: 8px;
  background: var(--link-active)
} */

/* Fin du boutton de retour en haut de la page */

/* .active {
  color: var(--link-active);
} */

/* début de la sidebar */
.sidebar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 3rem 0;
  height: 20rem;
  border-bottom: #fff;
}

.sidebar__logo h1 {
  font-size: 5rem;
}

.sidebar__container li {
  line-height: 40px;
  text-transform: uppercase;
  border-color: #8b8b8c;
  border-bottom: 1px solid #2f2f35;
  padding: 13px 20px;
}

.sidebar__container li.active a {
  color: var(--link-active);
}

.sidebar__container li a {
  color: #fff;
  font-size: 12px;
  display: block;
  text-decoration: none;
  line-height: normal;
}

.blog-posts-content {
  padding: 6rem 5rem;
}

header {
  display: flex;
}

.header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  color: #fff;
  font-size: 6rem;
  width: 100%;
  height: 100vh;
}

.header-img-blog {
  height: 25vh;
}

.header-img nav {
  width: 10%;
}

.container-fluid {
  background: url(../images/Groupe1.svg);
}

.post {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  position: relative;
  margin-bottom: 3rem;
  /* box-shadow: 8px 10px 10px 0px #e0dede; */
}

.post-img {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  color: #fff;
  background-color: var(--bg);
  height: 40rem;
  width: 100%;
}

.post-main {
  width: 95%;
  padding: 1rem;
  margin: 0.5rem auto;
  border-bottom: 1px solid var(--bg);
}

.post-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}

.post-content h2 {
  margin-bottom: 1rem;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 95%;
  padding: 1rem;
  margin: 0.5rem auto;
}

.post-link {
  display: inline-block;
  color: var(--color-para);
  cursor: pointer;
}

.post-link a:hover:nth-child(1) {
  color: var(--link-active);
}

footer {
  padding: 30px;
  background: #111111;
  color: #ffffff;
  height: auto !important;
  text-transform: uppercase;
}

/* Page identification */

.identification {
  /* width: 100%; */
  height: 100vh;
}

.navbar__title {
  font-size: 3rem !important;
}

.navbar ul li a {
  font-size: 2rem;
}

/* Page Administrateur des articles  */

.post-link a i {
  font-size: 1.5rem;
}

@media (min-width: 76.8rem) {
  #wrapper {
    padding-left: 26rem;
  }

  #sidebar {
    position: fixed;
    height: 100%;
    left: 26rem;
    background-color: var(--color-black);
    z-index: 1;
    margin-left: -260px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  nav {
    min-width: 26rem;
  }
}

/* PAGE BLOG */

.header-img-blog {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  color: #fff;
  font-size: 6rem;
  width: 100%;
  height: 40vh;
}

/* DEBUT DE LA NAVIGATION */

.menu-hamburger img {
  width: 5rem;
}

/* .menu-hamburger {
  display: block;
  transform: scale(var(--ggs,1))
}
.menu-hamburger,
.menu-hamburger::after,
.menu-hamburger::before {
  position: relative;
  display: block;
  width: 2rem;
  height: 2px;
  border-radius: 3px;
  background: currentColor
}
.menu-hamburger::after,
.menu-hamburger::before {
  content: "";
  position: absolute;
  top: -6px
}
.menu-hamburger::after {
  top: 6px
} */
/* End */
