
:root {
  --bg: rgb(214, 212, 212);
  --color-white: #fff;
  --color-para: rgb(131, 130, 130);
  --link-active: #cea525;
  --color-black: #000;
}

body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

p {
  font-size: 15px;
  color: var(--color-para);
  text-transform: initial;
}

a {
  display: block;
  text-decoration: none;
  font-size: 11px;
}

.form-control {
  font-size: 16px !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Début du boutton de retour en haut de la page */
#backToTheTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 3px;
  z-index: 1000;
}

.arrow-up {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid var(--link-active);
  border-radius: 4px;
  cursor: pointer;
}
.arrow-up::after {
  content: "";
  left: 50%;
  top: 50%;
  display: block;
  position: absolute;
  top: 4px;
}
.arrow-up::after {
  width: 15px;
  height: 15px;
  border-top: 2px solid var(--link-active);
  border-left: 2px solid var(--link-active);
  transform: rotate(45deg);
  left: calc(50% - 7px);
  top: calc(50% - 5px);
}
/* .arrow-up::before {
  width: .2rem;
  height: 1rem;
  left: 8px;
  background: var(--link-active)
} */

/* Fin du boutton de retour en haut de la page */

/* .active {
  color: var(--link-active);
} */

/* début de la sidebar */
.sidebar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 30px 0;
  height: 200px;
  border-bottom: #fff;
}

.sidebar__logo h1 {
  font-size: 50px;
}

.sidebar__container li {
  line-height: 40px;
  text-transform: uppercase;
  border-color: #8b8b8c;
  border-bottom: 1px solid #2f2f35;
  padding: 13px 20px;
}

/* .sidebar__container li.active a {
  color: var(--link-active);
} */

.sidebar__container li a {
  color: #fff;
  line-height: normal;
}

.blog-posts-content {
  font-size: 24px;
  padding: 60px 50px;
}

header {
  display: flex;
}

.header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  color: #fff;
  font-size: 6rem;
  width: 100%;
  height: 100vh;
  opacity: 1;
}

.header-img nav {
  width: 10%;
}

.background-container {
  background: url(../images/Groupe1.svg);
}

.post {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
  /* box-shadow: 8px 10px 10px 0px #e0dede; */
}

.post-img {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: #fff;
  background-color: var(--bg);
  height: 400px;
  width: 100%;
}

.post-main {
  width: 95%;
  padding: 10px;
  margin: 5px auto;
  border-bottom: 1px solid var(--bg);
}

.post-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}

.post-content p {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 30px;
  text-transform: initial;
  font-weight: 400;
}

.post-content p i {
  font-size: 13px;
}

.post-content h2 {
  
  margin-bottom: 10px;
}

.post-content h2 a {
  text-decoration: none;
  font-size: 18px;
  color: var(--color-black);
}

.post-content h3 span {
  font-size: 20px !important;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 95%;
  padding: 10px;
  margin: 0.5px auto;
}

.post-link {
  display: inline-block;
  color: var(--color-para);
  cursor: pointer;
}

/* Article page */
.blog-post__info {
  color: var(--color-para);
}

.blog-post__info > i {
  font-size: 10px;
}

.comment {
  border-bottom: 1px solid var(--bg);
}

.comment p:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-black);
  text-transform: capitalize;
}

.comment p:nth-child(2) {
  font-size: 15px;
  font-weight: 400;
}

.comment p:nth-child(3) {
  font-size: 12px;
}

.blog-post__info > span {
  font-size: 12px;
  text-transform: uppercase;
}

button {
  padding: 10px 20px !important;
}

footer {
  padding: 30px;
  background: var(--color-black);
  color: #ffffff !important;
  height: auto !important;
  text-transform: uppercase;
}

/* Page identification */

.identification {
  /* width: 100%; */
  height: 100vh;
}

.identification button {
  font-size: 15px !important;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 260px;
  }

  #sidebar {
    position: fixed;
    height: 100%;
    left: 260px;
    background-color: var(--color-black);
    z-index: 1;
    margin-left: -260px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar__container nav {
    min-width: 260px;
  }

  .active .link:hover {
    color: var(--link-active);
  }
}

/* PAGE BLOG */

.header-img-blog {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  color: #fff;
  font-size: 60px;
  width: 100%;
  height: 40vh;
}

/* DEBUT DE LA NAVIGATION */

.menu-hamburger img {
  width: 50px;
}

/* .menu-hamburger {
  display: block;
  transform: scale(var(--ggs,1))
}
.menu-hamburger,
.menu-hamburger::after,
.menu-hamburger::before {
  position: relative;
  display: block;
  width: 2rem;
  height: 2px;
  border-radius: 3px;
  background: currentColor
}
.menu-hamburger::after,
.menu-hamburger::before {
  content: "";
  position: absolute;
  top: -6px
}
.menu-hamburger::after {
  top: 6px
} */
/* End */
